body {
  background-color: #1b202b;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1000px;
  margin-bottom: 100px;
  color: white;
}

li {
  list-style: none;
}

.navbasics {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

a {
  color: white;
}
.main {
  color: white;
}

.footer {
  color: white;
}
.navreg {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.getstarted {
  border: none;
  background-color: #5adece;
  color: white;
  padding: 10px;
  border-radius: 25px;
  width: 150px;
}

.login-card {
  height: 250px;
  width: 300px;
  border: 1px solid red;
  border-radius: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.sgnInBtn {
  background-color: #5adece;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  margin-top: 40px;
}

.login-card input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-email {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.input-password {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
  margin-right: 22px;
}

.card {
  height: 400px;
  width: 350px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 25px;
}

.card h3 {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
}

.btn-more-info {
  background-color: #5adece;
  color: white;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 25px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  color: white;
}

.container-create {
  height: 200px;
  width: 500px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 25px;
}

.container-create h3 {
  text-align: center;
}

.create-cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.department {
  margin-top: 10px;
}

.create-btn {
  background-color: #5adece;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 25px;
}

.cancel-btn {
  background-color: #5adece;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.main p {
  margin-top: 10px;
}

.getstarted {
  margin-top: 100px;
}

.footer {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0c1320;
}

.footer-options {
  display: flex;
  flex-direction: column;
}

.other-options {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: column;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-name {
  padding: 10px;
}

.department {
  padding: 10px;
}

.create-course {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.container-create h3 {
  margin-top: 50px;
}
